.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.bg-bloom-plant{background-image: url(./assets/deal-bloom.png);
background-repeat: no-repeat;
;
}
.anna-plant{background-image: url(./assets/deal-ana.png);
background-repeat: no-repeat;
;}


.deal-zabo{background-image: url(./assets/deal-zabo.png);
background-repeat: no-repeat;
max-width: 700px;}

.news-letter-bg {background-image: url(./assets/news-letter-bg.png);
background-repeat: no-repeat;
;}